<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | Drunk Game</title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include ('partials/navigation') %>

        <header class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="/resources/img/drunk.png" alt="" width="200" height="175" class="img-fluid">
                <h1 class="display- my-2 fw-bold"> Ocurrió un error :/ </h1>
                <a href="/" class="btn btn-dark my-2">Volver</a>
            </div>
        </header>
        </div>
        <%- include ('partials/footer') %>
</body>

</html>